* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  background: #fff;
  color: #000;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: 700;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.email-link {
  font-style: italic;
  text-decoration: underline dashed;
  color: inherit;
}
